.expense-modal {
  position: fixed;
  z-index: 1;
  left: 2rem;
  right: 2rem;
  top: 20rem;
  overflow: auto;
  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.expense-modal button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.expense-modal button:hover,
.expense-modal button:active {
  background-color: #510674;
  border-color: #510674;
}

.expense-modal button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.expense-modal button.alternative:hover,
.expense-modal button.alternative:active {
  background-color: #ddb3f8;
}

.expense-modal__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.expense-modal__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.expense-modal__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.expense-modal__actions {
  text-align: right;
}
